body {
  background: #F5F5F1; }

header {
  background: white;
  padding-left: 130px;
  overflow: hidden;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.logo {
  font-family: "Droid Serif", serif;
  font-size: 30px;
  padding: 20px;
  font-size: 37px;
  font-weight: bold;
  float: left;
  color: #F56400; }

.searchbar {
  padding-top: 25px;
  float: left; }

.searchbar input {
  width: 255px;
  height: 30px; }

.searchbar span {
  margin-left: 2px;
  border: 1px solid #34A8C4;
  padding: 2px;
  margin-left: -3px;
  background: #34A8C4;
  color: white;
  float: right;
  height: 30px;
  width: 79px; }
  .searchbar span:hover {
    background-color: #0192B5; }

.inputsearch {
  font-size: 14px;
  padding-top: 5px;
  font-weight: bold;
  text-align: center; }

.user {
  padding-right: 160px;
  padding-top: 18px;
  float: right;
  color: #34A8C4; }

.sell {
  padding-left: 10px;
  padding-right: 10px; }

.register {
  padding-left: 10px;
  padding-right: 10px; }

.loginborder {
  padding-left: 5px;
  padding-right: 15px; }

.login {
  font-family: "Lato", sans-serif;
  border: 1px solid #34A8C4;
  padding-top: 4px;
  border-radius: 3px;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 4px; }

.user img {
  margin-right: -25px;
  padding-bottom: 12px;
  width: 22px;
  border-left: 1px solid etsyGray; }

.cartborder {
  margin-top: 20px; }

.cart {
  font-size: 15px;
  color: #8B888B; }

nav {
  background: white;
  padding: 10px;
  font-family: "Lato", sans-serif;
  border-top: 1px solid #8B888B;
  border-bottom: 1px solid #8B888B;
  text-align: center; }

nav span {
  padding-left: 15px;
  padding-right: 15px;
  color: #8B888B;
  font-size: 15px; }

.sidebarcontainer {
  font-family: "Lato", sans-serif;
  padding-left: 159px;
  padding-top: 10px;
  float: left;
  list-style-type: none; }

.categories {
  border: 1px solid #E1E3DF;
  background: white;
  padding-right: 45px; }

h4 {
  font-weight: bold;
  font-size: 14px; }

.sideheader {
  margin: 0;
  padding: 10px; }

.sidelist {
  padding-left: 30px;
  font-size: 14px; }

.sidelist li {
  padding: 2px;
  color: #34A8C4; }

.container {
  background: #F5F5F1;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 20px; }

.results {
  float: left;
  font-style: "Lato", sans-serif;
  font-size: 14px; }

.results .one {
  color: #34A8C4; }

.results .two {
  font-weight: bold; }

.relevancy {
  float: right;
  font-style: "Lato", sans-serif;
  font-size: 14px;
  padding-right: 160px; }

.relevancy .two {
  color: #34A8C4; }

.images {
  clear: both;
  width: 900px;
  overflow: hidden; }

.imageArea {
  font-size: 12px;
  width: 207px;
  float: left;
  background: white;
  border: 1px solid #E1E3DF;
  margin-left: 20px;
  margin-top: 20px; }

.imageArea img {
  width: 207px;
  float: left; }

.imageArea .itemName {
  width: 191px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px; }

.imageArea .shop {
  float: left;
  color: #8B888B;
  margin: 0;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 6px; }
  .imageArea .shop:hover {
    text-decoration: underline; }

.imageArea .price {
  float: right;
  color: #78C042;
  margin: 0;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 6px; }

footer {
  float: left; }

/*# sourceMappingURL=main.css.map */
